<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charSet="UTF-8"/>
		<meta name="viewport" content="width=device-width, initialScale=1.0"/>
		<meta name"description" content="This is a simple to do app"/>
		<title>To Do App</title>
	</head>
	<body>
		<h1>To Do Items</h1>
		<div id="pending-items"></div>
		<hr/>
		<h1>Done Items</h1>
		<div id="done-items"></div>
		<hr/>
		<input type="text" id="name" value="send" placeholder="New To Do">
		<button id="create-button">Create</button>
	</body>
	<script>{{JAVASCRIPT}}</script>
</html>
